<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Recipe Website</title>
</head>
<body>
    <article class="banner">
        <p><a href="/login"><img src="https://cdn-icons-png.flaticon.com/512/6681/6681204.png" alt="" class="login-icon">Login</a></p>
        <h1 style="text-align: center;">Recipe Website</h1>
        <p style="text-align: right;">lol</p>
    </article>

    <article class="content">
        <form action="/recipes/search">
            <input class="search" type="text" name="recipes" id="recipes" placeholder="Search for recipes">
        </form>
    </article>

    <article>
        <a href="/categories/list">List</a>
    </article>

</body>
</html>